<div class="col-12 col-md-6 col-lg-4 col-xl-3">
    <div class="card border rounded-3 h-100 event-card">
        <div class="card-body d-flex flex-column gap-2 p-4">
            <div class="d-flex flex-column gap-2 flex-grow-1">
                <p class="event-month small opacity-75 mb-0" style="font-size: 15px; line-height: 18px; color: #222222;">
                    Month Year
                </p>
                <h4 class="event-title fw-semibold mb-0" style="font-size: 20px; line-height: 28px; color: #222222;">
                    Event Title
                </h4>
            </div>
            <a href="#" class="event-link btn btn-secondary d-inline-flex align-items-center gap-2 align-self-start">
                <span>Slides</span>
                <i data-feather="arrow-right" class="icon-20"></i>
            </a>
        </div>
    </div>
</div>


