<footer class="text-white py-5 mt-5" style="background-color: #222222;">
    <div class="container-fluid px-4">
        <div class="row align-items-center mb-4">
            <div class="col-12 col-lg-4 text-center py-2">
                <img src="/img/logos/cornell-2.svg" alt="Cornell" class="img-fluid" style="height: 64px;">
            </div>
            <div class="col-12 col-lg-4 text-center py-2">
                <img src="/img/logos/mit-2.svg" alt="MIT" class="img-fluid" style="height: 64px;">
            </div>
            <div class="col-12 col-lg-4 text-center py-2">
                <img src="/img/logos/cmu-2.svg" alt="Carnegie Mellon" class="img-fluid" style="height: 32px;">
            </div>
        </div>
        <hr class="border-secondary my-4">
        <div class="row g-4">
            <div class="col-md-3">
                <p class="footer-category">Category A</p>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Lorem Ipsum A</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Lorem Ipsum B</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Lorem Ipsum C</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Lorem Ipsum D</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="footer-category">Category B</p>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Lorem Ipsum E</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Lorem Ipsum F</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Lorem Ipsum G</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Lorem Ipsum H</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="footer-category">Category C</p>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Lorem Ipsum I</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Lorem Ipsum J</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Lorem Ipsum K</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Lorem Ipsum L</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="footer-category">Category D</p>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Lorem Ipsum M</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Lorem Ipsum N</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Lorem Ipsum O</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Lorem Ipsum P</a></li>
                </ul>
            </div>
        </div>
        <hr class="border-secondary my-4">
        <div class="row">
            <div class="col-12 text-end">
                <p class="mb-0 small">© Copyright National Tutoring Observatory, 2025 All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
