<footer class="text-white py-5" style="background-color: #222222;">
    <div class="container-fluid px-4">
        <div class="row align-items-center mb-4">
            <div class="col-12 col-lg-4 text-center py-2">
                <img src="img/logos/cornell-2.svg" alt="Cornell" class="img-fluid" style="height: 64px;">
            </div>
            <div class="col-12 col-lg-4 text-center py-2">
                <img src="img/logos/mit-2.svg" alt="MIT" class="img-fluid" style="height: 64px;">
            </div>
            <div class="col-12 col-lg-4 text-center py-2">
                <img src="img/logos/cmu-2.svg" alt="Carnegie Mellon" class="img-fluid" style="height: 32px;">
            </div>
        </div>
        <hr class="border-secondary my-4">
        <div class="row g-4">
            <div class="col-md-3">
                <p class="footer-category">About</p>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="index.html" class="text-white text-decoration-none">Our Mission</a></li>
                    <li class="mb-2"><a href="approach.html" class="text-white text-decoration-none">Approach</a></li>
                    <li class="mb-2"><a href="partners.html" class="text-white text-decoration-none">Research Partners</a></li>
                    <li class="mb-2"><a href="team.html" class="text-white text-decoration-none">Team</a></li>                </ul>
            </div>
            <div class="col-md-3">
                <p class="footer-category">Stakeholders</p>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="approach/researchers.html" class="text-white text-decoration-none">For Researchers</a></li>
                    <li class="mb-2"><a href="approach/developers.html" class="text-white text-decoration-none">For EdTech Developers</a></li>
                    <li class="mb-2"><a href="approach/school-districts.html" class="text-white text-decoration-none">For School Districts</a></li>
                    <li class="mb-2"><a href="approach/tutoring-providers.html" class="text-white text-decoration-none">For Tutoring Providers</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="footer-category">Learn More</p>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="news.html" class="text-white text-decoration-none">News</a></li>
                    <li class="mb-2"><a href="blog.html" class="text-white text-decoration-none">Blog</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="footer-category">Contact</p>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="mailto:nat_tutoring_ob@cornell.edu" class="text-white text-decoration-none">Email</a></li>
                    <li class="mb-2"><a href="https://www.linkedin.com/company/national-tutoring-observatory"" class="text-white text-decoration-none">LinkedIn</a></li>
                    <li class="mb-2"><a href="https://github.com/National-Tutoring-Observatory" class="text-white text-decoration-none">GitHub</a></li>                </ul>
            </div>
        </div>
        <hr class="border-secondary my-4">
        <div class="row">
            <div class="col-12 text-end">
                <p class="mb-0 small">© Copyright National Tutoring Observatory, 2025 All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
