<nav class="navbar navbar-expand-lg bg-light fixed-top border-bottom border-dark">
    <div class="container-fluid px-4">
        <a class="navbar-brand" href="/index.html">
            <img src="/img/brand/logo.png" alt="National Tutoring Observatory" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto gap-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark fw-medium" href="/approach.html" id="approachDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Approach
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="approachDropdown">
                        <li>
                            <a class="dropdown-item" href="/approach.html">Overview</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="/approach/researchers.html">For Researchers</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/approach/developers.html">For EdTech Developers</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/approach/school-districts.html">For School Districts</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/approach/tutoring-providers.html">For Tutoring Providers</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fw-medium" href="/team.html">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fw-medium" href="/partners.html">Research Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fw-medium" href="/news.html">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fw-medium" href="/blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fw-medium" href="/contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
