<div class="col-12 col-md-6">
    <div class="partner-card h-100">
        <div class="partner-card-inner d-flex flex-column h-100">
            <div class="partner-logo-wrapper">
                <div class="partner-logo-inner">
                    <img src="" alt="Partner logo" class="partner-logo img-fluid">
                </div>
            </div>
            <div class="partner-body flex-grow-1">
                <h2 class="partner-name mb-1">Partner Name</h2>
                <p class="partner-description mb-0">
                    Partner description goes here. This will be populated dynamically.
                </p>
            </div>
            <div>
                <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-secondary d-inline-flex align-items-center">
                    <span>Learn More</span>
                    <i data-feather="arrow-right" class="ms-2 icon-20"></i>
                </a>
            </div>
        </div>
    </div>
</div>


